<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Zhen">Zhen</a></li>
      <li><a href="/Ming">Ming</a></li>
      <li><a href="/Han">Han</a></li>
    </ul>
  </nav>